# Ignore large image files and results
*.svs
*.tiff
*.tif
svs_segmentation_results/
H&E_Svs/
TMA_*/
__pycache__/
*.pyc
.DS_Store
data_preprocessing.ipynb
data_preprocessing.ipynb
*.svs
*.tiff
*.tif
svs_segmentation_results/
__pycache__/
*.pyc
.DS_Store
.gitattributes
*.pptx
~.pptx
.DS_Store
.cursor/
*.html
